.kilepes{
    color: #fef9c2;
     background-color: #460809;
     text-align: center;
     font-size: 20px;
     font-family: "Jersey 10", sans-serif;
     box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36;
     cursor: pointer;
     
}


.quest-icon {

  position: absolute;

  width: 240px;
  height: 240px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Jersey 10", sans-serif;
  font-size: 42px;

  cursor: pointer;

}

/* PNG OUTLINE TRICK */
.quest-icon:hover{

  transform: scale(1.05);

  filter:
    drop-shadow(0 0 4px #ffd700)
    drop-shadow(0 0 4px #ffd700)
    drop-shadow(0 0 4px #ffd700);

}

.quest-text-button{

  font-family: "Jersey 10", sans-serif;
  font-size: 26px;

  background: transparent;
  border: none;

  color: black;

  cursor: pointer;

  transition: color 0.2s;
}

.quest-text-button:hover{

  color: #c9a000;

}

.quest-paper-close-text{

  font-family: "Jersey 10", sans-serif;
  font-size: 32px;

  background: transparent;
  border: none;

  color: black;

  cursor: pointer;

  margin-top: 10px;   /* EZT tudod állítani ha feljebb/lejjebb kell */

  transition: color 0.2s;

}

.quest-paper-close-text:hover{

  color: #5c0000;

}

.baldiv:hover{
  background: white;
  opacity: 5%;
  filter: blur(100%);
}